@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.p1 {
  font-size: 1rem;
}

.p2 {
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .75rem;
}

.font-regular {
  font-family: 'Poppins', sans-serif;
}

.font-display {
  font-family: 'Poppins', sans-serif;
}

.subheading {
  margin-bottom: 0;
  letter-spacing: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 10px;
}