@import url('./colors.css');
@import url('./topography.css');

.parallax-bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 30vh;
  background-color: var(--accent-color);
}

.fullscreen-bg-img {  
    min-height: 100vh;
    background-image: url('../../assets/jumbo.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.nudge-right {
  margin-right: 16px;
}

.nudge-left {
  margin-left: 16px;
}

.nudge-up {
  margin-top: 16px;
}

.nudge-down {
  margin-bottom: 16px;
}

.margin-0 {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.flex-hr {
  flex-grow: 1;
  margin: 16px;
}

/* 480px, 768px, 1024px, and 1280px */

.gutter {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.indent {
  text-indent: 2em;
}

.navlink-underline {
  display: inline-block;
  border-bottom: 6px solid;
  border-image-source: linear-gradient(45deg, red, orange);
  border-image-slice: 1;
  line-height: 2;
}

.section-title {
  font-size: 32px;
  padding-bottom: 96px;
}

.img-mobile-center {
  margin: 0 auto;
  display: block;
}

.img-round {
  border-radius: 100%;
}

.background-img {
  background-position: center;
  background-size: cover;
}

.padding-t {
  padding-top: 96px;
}

.padding-r {
  padding-right: 96px;
}

.padding-l {
  padding-left: 96px;
}

.padding-b {
  padding-bottom: 96px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 600;
}

@media only screen and (min-width: 768px) {

  .gutter > * {
    max-width: 1000px;
    margin: auto;
  }

  .img-mobile-center {
    margin: unset;
  }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1280px) {

}