.action-button {
  background-color: transparent;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, orange, red);
  
  color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 24px;
  white-space: nowrap;
  padding: 8px 32px;
  
  box-shadow: -8px 8px var(--accent-color);

  cursor: pointer;

  /* animation */
  -webkit-transition: all .5s ease; 
  -moz-transition: all .5s ease; 
  -o-transition: all .5s ease; 
  -ms-transition: all .5s ease; 
  transition: all .5s ease;
}

.action-button:hover {
  color: var(--secondary-color) !important;
  background-color: #ff5101;
}