.footer-grid {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 96px;
}

@media only screen and (min-width: 768px) {
  .footer-grid {
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer {
  padding-bottom: 96px;
  color: var(--secondary-color);
  background-color: var(--dark-color);
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-item h3 {
    margin-bottom: 32px;
}

.footer-item > *:not(:first-child) {
  margin-top: 8px;
}